*{
    margin: 0;
    padding: 0;
}
body {
    background: url(img/background.jpg)
    }
.master{
    width: 960px;
    padding-left:10em;
}
.menu {
    
    border-bottom: solid;
    border-width: 0.15em;
    border-color: lightgray;
    padding-right: 6em;
    background-color:whitesmoke;
}

.name{
   
    width: 20%;
    background-color:lightseagreen;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0em;
    margin-top: 0em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    font-size: 1.5em;
    text-align: center;
    margin-left: 6em;

}
li{
    padding-top: 0.8em;
    float: right;
    display: flex;
}

li a {
    
    display: flex;
    color: gray;
    text-align: center;
    padding: 0.6em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
    text-decoration: none;
}

#about{
    border-right: solid;
    border-width: 0.01em;
    border-color: lightgray;
}

#about:hover{
    color: lightseagreen;
}
#contact:hover{
    color: lightseagreen;
}
#portfolio:hover{
    color: lightseagreen;
}

#portfolio{
    border-right: solid;
    border-width: 0.01em;
    border-color: lightgray;
}
article{
    border: solid;
    border-color: lightgray;
    border-width: 0.1em;
    background-color: whitesmoke;
    width:80%;
    margin-top: 2em;
    margin-left: 6em;
    padding: 1.5em;
    
}

.about{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightseagreen;
    border-bottom: solid;
    border-width: 0.01em;
    border-color: lightgray;
    padding-bottom: 0.5em;

}
#mypicture{
    float: left;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom:1em;
}
.myinfo, .myinfo2, .myinfo3, .myinfo4, .myinfo5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    font-size: 0.9em;
    text-align: justify;
    padding: 0.5em;
}

footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:darkslategrey;
    color: white;
    text-align: center;
    border-top:solid;
    border-color: lightseagreen;
    border-width: 0.5em;
    position: fixed;
    
}
.copyright{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.5em;
    text-align: center;
    padding-top: 2em;
}